.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #b56576!important;
}
.bg-nav {
    --bs-bg-opacity: 1;
    background-color: #355070!important;
}
.bg-button {
    --bs-bg-opacity: 1;
    background-color: #6d597a!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainpage {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 height: 100%;
 width: 100%;
 z-index: 1000000;
 background: rgba(0, 0, 0, 0.9);
}
